*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	/*outline: 1px solid red;*/
}

body{
	font-family: 'open sans'
}

.contenedor{
		padding: 60px 0;
		width: 90%;
		max-width: 1000px;
		margin: auto;
		overflow: hidden;
}

.titulo{
	color: #642a73
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}

/* header */

header{
	width: 100%;
	height: 450px;
	background: #bc4e9c;
	background: -webkit-linear-gradient(to right, #f800759, #4fc1ee);
	background: linear-gradient(to right, hsla(340, 95%, 50%, 0.671), hsla(197, 82%, 62%, 1))/*, url(../img/HeaderButtons.jpg)*/;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

nav{
	display: flex;
	background: #fff;
	/*border: 3px solid #fff;*/
	padding: 10px;
	/*align-items: center;*/
	justify-content: space-around;
	border-bottom: 2px solid #7F7F7F;
	/*text-align: center;*/
}

.sticky {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

nav >a{
	list-style-type: none;
	color: #1A1A1A;
	font-weight: 600;
	text-decoration: none;
	/*margin-right: 40px;*/
	/*border: 3px solid #fff;*/
}

nav > a:hover{
	text-decoration: none;
	background-color: #30336b;
	color: white;
}

header .textos-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.textos-header h1{
	font-size: 50px;
	color: #fff;
}

.textos-header h2{
	font-size: 30px;
	font-weight: 300;
	color: #fff;
}

/*.wave{
	position: absolute;
	bottom: 0;
	width: 100%;
}
*/
/* About us */

main .sobre-nosotros{
	padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros{
	display: flex;
	justify-content: space-evenly;
}

.imagen-about-us{
	width: 48%; 
}

.sobre-nosotros .contenido-textos{
	width: 48%;
}
	
.contenido-textos h3{
	margin-bottom: 15px;
}

.contenido-textos h3 span{
	background: #4d0686;
	color: #fff;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	padding: 2px;
	box-shadow:  0 0 6px 0 rgba(0, 0, 0, .5);
	margin-right: 5px;
}

.contenido-textos p{
	padding: 0px 0px 30px 15px;
	font-weight: 300;
	text-align: justify;
}

/* Galeria */

.portafolio{
	background: #f2f2f2;
}

.galeria-port{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.imagen-port{
	width: 24%;
	margin-bottom: 10px;
	/*height: 180px;*/
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px  rgba(0, 0, 0, .5);
}

.imagen-port > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.hover-galeria{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transform : scale(0);
	background: hsla(273,91%,27%, 0.7);
	transition: transform .5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hover-galeria img{
	width: 50px;
}

.hover-galeria p{
	color: #fff;
}

.imagen-port:hover .hover-galeria{
	transform: scale(1);
}

/* Clients */

.cards{
	display: flex;
	justify-content: space-evenly;
}

.cards .card{
	background: #4d0686;
	display: flex;
	width: 46%;
	height: 200px;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 3px solid #fff;
	border-radius: 50%;
	display: block;
}

.cards .card > .contenido-texto-card{
	width: 60%;
	color: #fff;
}

.cards .card > .contenido-texto-card p{
	font-weight: 300;
	padding-top: 5px;
}

/*Our Team*/

.about-services{
	background: #f2f2f2;
	padding-bottom: 30px;
}

.servicio-cont{
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.servicio-ind{
	width:28%;
	text-align:center;
}

.servicio-ind img{
	width: 90%;
}

.servicio-ind h3{
	margin: 10px 0;
}

.servicio-ind p{
	font-weight: 300;
	text-align: justify;
}

/* footer*/

footer{
	background: #414141;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}

.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}

.content-foo{
	text-align: center;
}

.content-foo h4{
	color: #fff;
	border-bottom: 3px solid #af20d3;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.content-foo p{
	color: #ccc;
}

.titulo-final{
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
	color: #9e9797;
}

@media screen and (max-width:900px){

	nav{
		text-align: center;
		padding: 10px ;
		/*display: flex;*/
		/*flex-direction: column;*/
		/*align-items: center;*/
		justify-content: space-around;
	}
	
	nav > a{
		margin-right: 10px;
	}
	
	header{
		background-position: center;
	}
	
	.contenedor-sobre-nosotros{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.sobre-nosotros .contenido-textos{
		width: 90%;
	}
	
	.imagen-about-us{
		width: 90%;
	}
	
	/* Galeria */
	
	.imagen-port{
		width: 44%;
	}
	
	/*Clientes*/
	
	.cards{
		flex-direction: column;
		justifi-content: center;
		align-items: center;
	}
	
	.cards .card:first-child{
		width: 90$;
	}
	
		.cards .card:first-child{
		margin-bottom: 30px;
	}
	
	/* servicios */
	
	.servicio-cont{
		justify-content: center;
		flex-direction: column;
	}
	.servicio-ind{
		width: 100%;
		text-align: center; 
	}
	
	.servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
		margin-bottom: 60px;	
	}
	
	.servicio-ind img{
		width: 90%;
	}
}

@media screen and (max-width:500px){
	nav{
		text-align: center;
		padding: 10px ;
		/*display: flex;*/
		flex-direction: column;
		/*align-items: center;*/
		justify-content: space-around;
	}
	
	nav > a{
		margin-right: 10px;
	}
	
	.textos-header h1{
		font-size: 35px;
	}
	
	.textos-header h2{
		font-size: 20px;
	}
	
	/* ABOUT US */

	.sobre-nosotros .contenido-textos{
		width: 95%;
	}
	
	/* Galeria */
	
	.imagen-port{
		width: 95%;
	}
	
	/* Clients*/
	
	.cards .card{
		height: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;		
	}
	
	.cards .card img{
		width: 90%;	
		height: 90px;
	}
	
	/*  footer */
	
	.contenedor-footer{
		flex-direction: column;
		border: none;
	}
	
	.content-foo{
		margin-bottom: 20px;
		text-align: center;
	}
	
	.content-foo h4{
		border: none;
	}
	
	.content-foo p{
		color: #ccc;
		border-bottom: 1px solid #f2f2f2;
		padding-bottom: 20px;
	}
	
	.titulo-final{
		font-size: 20px;
	}
}






